{% extends 'rec-base.html.twig' %}

{% block title %}Ajouter un Recyclage{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">

    <h1 class="text-xl font-bold mb-4 text-blue-600 text-center">Ajouter un Recyclage</h1>

    {% for message in app.flashes('error') %}
        <div class="bg-red-100 text-red-700 p-2 rounded mb-4">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="bg-green-100 text-green-700 p-2 rounded mb-4">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        <div class="space-y-4">
            {{ form_row(form.objet, {'attr': {'class': 'border rounded w-full p-4 mb-4'}}) }}
        </div>

        <div>
            {{ form_row(form.type_recyclage, {'attr': {'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500'}}) }}
        </div>

        <div>
            {{ form_row(form.commentaire, {'attr': {'class': 'border rounded w-full p-2 mb-4'}}) }}
        </div>

        <div>
            {{ form_row(form.date_recyclage, {'attr': {'class': 'border rounded w-full p-2 mb-4'}}) }}
        </div>

        <div>
            {{ form_row(form.user, {'attr': {'class': 'border rounded w-full p-2 mb-4'}}) }}
        </div>

        <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enregistrer</button>
        <a href="{{ path('recyclage_index') }}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
            Annuler
        </a>
    {{ form_end(form) }}
</div>
{% endblock %}
