<!-- Info Section -->
<section class="info_section">
    <div class="info_container layout_padding2">
        <div class="container">
            <div class="info_logo">
                <a class="navbar-brand" href="{{ path('app_front_office') }}">Tro<span>Weld</span></a>
            </div>
            <div class="info_main">
                <div class="row">
                    <div class="col-md-3 col-lg-2">
                        <div class="info_link-box">
                            <h5>Liens Utiles</h5>
                            <ul>
                                <li><a href="{{ path('app_front_office') }}">Home</a></li>
                                <li><a href="{{ path('front_office_about') }}">About</a></li>
                                <li><a href="{{ path('front_office_services') }}">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="{{ path('front_office_contact') }}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h5>Welding</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <h5>Réseaux Sociaux</h5>
                        <div class="social_box">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h5>Notre Centre</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section -->
<footer class="footer_section">
    <div class="container">
        <p>&copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </div>
</footer>
