{% extends 'base.html.twig' %}

{% block title %}Echange{% endblock %}

{% block body %}
    <h1>Echange</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_echange</th>
                <td>{{ echange.idEchange }}</td>
            </tr>
            <tr>
                <th>Name_echange</th>
                <td>{{ echange.nameEchange }}</td>
            </tr>
            <tr>
                <th>Image_echange</th>
                <td>{{ echange.imageEchange }}</td>
            </tr>
            <tr>
                <th>Date_echange</th>
                <td>{{ echange.dateEchange ? echange.dateEchange|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ echange.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_echange_index') }}">back to list</a>

    <a href="{{ path('app_echange_edit', {'id_echange': echange.id_echange}) }}">edit</a>

    {{ include('echange/_delete_form.html.twig') }}
{% endblock %}
